.section-contact {
  background-color: var(--black-color);
  padding: 9.6rem 0 12.8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.contact-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 35rem;
  gap: 2.4rem;
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--gray-color-lighter);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.submition-warning {
  margin-top: 10px;
  font-weight: var(--font-weight-semibold);
  font-size: 1.4rem;
}
