.publications-section {
  padding: 9.6rem 0;
  color: var(--gray-color-medium);
  background-color: white;
  border-top: 1px solid #eee;
}

.publications {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}

.publications .show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.publication-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.publication-list li {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  text-align: left;
}

.publication-list li {
  font-size: 1.5rem;
}

.publication-list li a {
  color: #007bff; /* Bootstrap link blue */
  font-size: 1.75rem;
  text-decoration: none;
}

.publication-list li a:hover {
  text-decoration: underline;
}

.publication-buttons {
  margin-top: 0.5rem;
}

.publication-buttons button {
  font-size: 1.25rem;
  padding: 2px 8px;
  margin-right: 0.5rem;
  background-color: #e9ecef; /* light gray */
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: #000;
}

.publication-buttons button:hover {
  background-color: #d6d8db;
}

.publications .show-all .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
